@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

@import "nebulius/fonts";

$blue: #7bc2ff;

$page-background-dark: #0a020a;
$page-background-purple: #1b1424;

$link-hover: white;
$link-focus: white;
$link-active: white;

$footer-earth-size: 48px;
$footer-earth-size-small: 42px;

$family-serif: 'EB Garamond', Garamond, serif;
$family-sans-serif: 'Fira Sans', $family-sans-serif;

$weight-light: 200;

@import "bulma/bulma";

@import "nebulius/all";
