@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

@import "nebulius/fonts";

$blue: #7bc2ff;

$page-background-dark: #0a020a;
$page-background-purple: #1b1424;

$primary: $page-background-purple;
$info: lighten($primary, 20%);
$link: lighten($primary, 60%);

$link-hover: white;
$link-focus: white;
$link-active: white;

$link-hover-border: lighten($primary, 32%);
$link-focus-border: lighten($primary, 32%);
$link-active-border: lighten($primary, 32%);

$content-text-color: lighten($primary, 88%);
$text: $content-text-color;

$article-padding: 28px;

$footer-earth-size: 48px;
$footer-earth-size-small: 42px;

$family-serif: 'EB Garamond', Garamond, serif;
$family-sans-serif: 'Fira Sans', $family-sans-serif;

$family-primary: $family-sans-serif;

$weight-light: 200;

$menu-item-hover-color: $text;
$menu-item-hover-background-color: $info;
$menu-item-active-color: $text;
$menu-item-active-background-color: $info;

$pagination-color: $text;
$pagination-border-color: lighten($primary, 50%);
$pagination-disabled-color: desaturate(darken($link, 40%), 16);
$pagination-disabled-background-color: $link;
$pagination-disabled-border-color: $link;
$pagination-current-color: $text;
$pagination-current-background-color: lighten($primary, 16%);
$pagination-current-border-color: darken($pagination-border-color, 10%);

$tooltip-background-color: rgba(lighten($primary, 14%), .4);

$timeline-color: $info;
$timeline-marker-color: $timeline-color;
$timeline-marker-background-color: $timeline-color;
$timeline-line-color: $timeline-color;
$timeline-line-width: .08em;

@import "bulma/bulma";
@import "bulma-tooltip/dist/bulma-tooltip";
@import "bulma-timeline/src/sass/index";

@import "nebulius/all";
