:root {
    --gray-000: #{$gray-000};
    --gray-100: #{$gray-100};
    --gray-200: #{$gray-200};
    --gray-300: #{$gray-300};
    --gray-400: #{$gray-400};
    --gray-500: #{$gray-500};
    --gray-600: #{$gray-600};
    --gray-700: #{$gray-700};
    --gray-800: #{$gray-800};
    --gray-900: #{$gray-900};

    --yellow-000: #{$yellow-000};
    --yellow-100: #{$yellow-100};
    --yellow-200: #{$yellow-200};
    --yellow-300: #{$yellow-300};
    --yellow-400: #{$yellow-400};
    --yellow-500: #{$yellow-500};
    --yellow-600: #{$yellow-600};
    --yellow-700: #{$yellow-700};
    --yellow-800: #{$yellow-800};
    --yellow-900: #{$yellow-900};
    --yellow-1000: #{$yellow-1000};
    --yellow-1100: #{$yellow-1100};
}
