@font-face {
  font-family: 'Charlevoix-Light';
  src: url('../fonts/charlevoix/CharlevoixPro-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/charlevoix/CharlevoixPro-Light.otf')  format('opentype'),
       url('../fonts/charlevoix/CharlevoixPro-Light.woff') format('woff'),
       url('../fonts/charlevoix/CharlevoixPro-Light.ttf')  format('truetype'),
       url('../fonts/charlevoix/CharlevoixPro-Light.svg#CharlevoixPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Charlevoix-Regular';
  src: url('../fonts/charlevoix/CharlevoixPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/charlevoix/CharlevoixPro-Regular.otf')  format('opentype'),
       url('../fonts/charlevoix/CharlevoixPro-Regular.woff') format('woff'),
       url('../fonts/charlevoix/CharlevoixPro-Regular.ttf')  format('truetype'),
       url('../fonts/charlevoix/CharlevoixPro-Regular.svg#CharlevoixPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moon-Light';
  src: url('../fonts/moon/Moon2-0-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/moon/Moon2-0-Light.otf')  format('opentype'),
       url('../fonts/moon/Moon2-0-Light.woff') format('woff'),
       url('../fonts/moon/Moon2-0-Light.ttf')  format('truetype'),
       url('../fonts/moon/Moon2-0-Light.svg#Moon2.0-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moon-Regular';
  src: url('../fonts/moon/Moon2-0-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/moon/Moon2-0-Regular.otf')  format('opentype'),
       url('../fonts/moon/Moon2-0-Regular.woff') format('woff'),
       url('../fonts/moon/Moon2-0-Regular.ttf')  format('truetype'),
       url('../fonts/moon/Moon2-0-Regular.svg#Moon2.0-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moon-Bold';
  src: url('../fonts/moon/Moon2-0-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/moon/Moon2-0-Bold.otf')  format('opentype'),
       url('../fonts/moon/Moon2-0-Bold.woff') format('woff'),
       url('../fonts/moon/Moon2-0-Bold.ttf')  format('truetype'),
       url('../fonts/moon/Moon2-0-Bold.svg#Moon2.0-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
