body.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;
    flex-shrink: 0;

    header {
        display: flex;
        flex-direction: column;

        padding-top: 6vh;

        width: 100%;
        min-height: 32vh;

        color: white;

        h1 {
            width: 100%;

            font-size: 6em;
            font-family: 'Charlevoix-Light';
            text-align: center;

            span {
                font-family: 'Charlevoix-Regular';
                font-weight: bold;
            }
        }

        p {
            width: 100%;

            font-size: 1.95em;
            font-family: 'Moon-Regular';
            font-variant: all-small-caps;
            letter-spacing: .18em;

            text-align: center;
        }
    }

    nav {
        min-height: 10vh;
        padding-top: 4vh;

        font-size: 1.3em;
        font-family: 'Moon-Regular';
        font-variant: all-small-caps;
        letter-spacing: .18em;
        color: white;

        text-align: center;

        ul {
            li {
                display: inline-block;
                margin: 0 .5em;

                a {
                    display: inline-block;
                    width: 12em;
                    padding: .2em 1.5em;

                    text-align: center;

                    color: darken(white, 10%);

                    &:hover {
                        color: white;
                    }
                }

                &:hover, &.is-active {
                    border-bottom: solid 1px #ddd;
                }
            }
        }
    }

    section {
        margin-top: 1vh;

        padding: .6em 20%;

        @media screen and (max-width: 1700px) {
            padding-left: 5%;
            padding-right: 5%;
        }

        width: 100%;
        min-height: 52vh;

        background: rgba(255, 255, 255, .25);
        color: white;

        // For sections with an illustration
        // — TODO
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        // — END TODO

        &:not(:first-of-type) {
            margin-top: 6vh;
        }

        &:last-of-type {
            margin-bottom: 4vh;
        }

        &.has-js {
            margin-bottom: 4vh;

            &:not(:first-of-type) {
                margin-top: 0;
            }
        }

        h2 {
            margin-top: .3em;
            font-size: 2.8em;
            font-family: 'Moon-Regular';
            text-align: center;
        }

        div.columns {
            margin-top: -1.8em;

            @include mobile {
                margin-top: -.6em;
            }

            @include clearfix;

            .column {
                min-width: 0;

                h3 {
                    padding-bottom: .1em;
                    border-bottom: white 2px solid;

                    font-size: 2em;
                    font-family: 'Moon-Regular';
                    font-variant: all-small-caps;
                    letter-spacing: .08em;

                    a {
                        color: white;
                    }

                    .fas {
                        font-size: .4em;

                        position: relative;
                        top: .1em;
                    }
                }

                &:last-child {
                    article {
                        background: transparent;
                        margin: 0;
                        padding: 0;
                        margin-top: .6em;
                    }

                    h3 {
                        text-align: right;
                    }
                }

                article {
                    $padding-inside-home-article: .6em .8em .8em .8em;

                    display: flex;
                    flex-direction: column;

                    height: 100%;

                    margin-top: .6em;
                    padding: 0;

                    background: rgba(0, 0, 0, .3);

                    h4 {
                        padding: $padding-inside-home-article;

                        font-size: 1.4em;
                        font-family: 'Moon-Regular';
                        font-weight: bold;
                        
                        color: $blue;
                    }

                    p {
                        padding: $padding-inside-home-article;
                        font-family: $family-sans-serif;
                        text-align: justify;

                        &:first-of-type {
                            padding-top: 0;
                        }

                        &:last-of-type {
                            // Pushes the read more button to the bottom
                            flex-grow: 1;
                        }
                    }

                    aside {
                        padding: $padding-inside-home-article;

                        text-align: right;

                        svg {
                            position: relative;
                            top: .08em;

                            display: inline-block;
                            margin-right: .3em;
                        }
                    }
                }

                ul {
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;

                    height: 100%;

                    //margin-top: .6em;
                    
                    li {
                        padding: 0;
                        background: rgba(0, 0, 0, .3);

                        position: relative;

                        a {
                            display: block;
                            margin: 0;
                            padding: 1.4em;

                            max-width: 90%;

                            font-family: 'Moon-Regular';
                            font-size: 1.1em;
                            font-weight: bold;

                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;

                            .button {
                                position: absolute;
                                right: 1.4em;
                                top: 1.2em;
                            }
                        }

                        &:hover {
                            background: rgba(0, 0, 0, .5);

                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        > article {
            position: relative;
            margin-top: 1.6em;

            font-size: 1.2em;

            p {
                text-align: center;
            }

            aside {
                @include clearfix;

                margin: 2em;
                margin-top: 4em;

                @media screen and (max-width: 1700px) {
                    margin-top: 2.6em;
                }

                text-align: center;

                svg {
                    display: inline-block;

                    padding-right: .2em;
                    font-size: 1.2em;
                }
            }
        }
    }
}
