body.homepage {
    overflow: hidden;
    background: url('../images/homepage-background-high.png'), url('../images/homepage-background-low.jpg');
    background-position: top center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;

    flex-grow: 1;
    flex-shrink: 0;

    header {
        display: flex;
        flex-direction: column;

        padding-top: 6vh;

        width: 100%;
        min-height: 32vh;

        color: white;

        h1 {
            width: 100%;

            font-size: 6em;
            font-family: 'Charlevoix-Light';
            text-align: center;

            span {
                font-family: 'Charlevoix-Regular';
                font-weight: bold;
            }
        }

        p {
            width: 100%;

            font-size: 1.95em;
            font-family: 'Moon-Regular';
            font-variant: all-small-caps;
            letter-spacing: .18em;

            text-align: center;
        }
    }

    nav {
        min-height: 10vh;
        padding-top: 4vh;

        font-size: 1.3em;
        font-family: 'Moon-Regular';
        font-variant: all-small-caps;
        letter-spacing: .18em;
        color: white;

        ul {
            li {
                display: inline-block;
                margin: 0 .5em;

                a {
                    display: inline-block;
                    width: 12em;
                    padding: .2em 1.5em;

                    text-align: center;

                    color: darken(white, 10%);

                    &:hover {
                        color: white;
                    }
                }

                &:hover, &.is-active {
                    border-bottom: solid 1px #ddd;
                }
            }
        }
    }
}
