html {
    background-color: $page-background-purple;
}

body {
    scroll-behavior: smooth;

    background:
        url('../images/stars.svg') top center repeat,
        linear-gradient(to bottom, $page-background-dark 0%, #1b1424 40%, $page-background-purple 100%),
        $page-background-purple;

    background-size: contain;

    .body-background-container {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;

        background:
            url('../images/background-bottom.png') bottom center no-repeat,
            url("../images/background-bottom-low.png") bottom / contain no-repeat;
    }

    &::after {
        content: "";

        display: block;
        position: absolute;
        top: 2em;
        right: 4em;

        width: 0;
        height: 30em;

        background: url('../images/stars-shooting-star.svg') no-repeat;
        background-size: contain;

        transition: none;

        z-index: 0;
    }

    &.static-shooting-star::after {
        width: 10em;
        opacity: 1;
    }

    &.animated-shooting-star::after {
        width: 28em;
        opacity: 0;

        transition: width .8s, opacity .8s;
    }
}

header.page-header {
    color: white;
    padding-top: 0;

    h1 {
        width: 100%;

        font-size: 6em;
        font-family: 'Charlevoix', sans-serif;
        font-weight: 200;

        text-align: center;
        text-shadow: 0 0 2px black;

        span {
            font-weight: bold;
        }
    }

    p {
        width: 100%;

        margin-top: -.6em;

        font-size: 1.95em;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 200;
        font-variant: all-small-caps;
        letter-spacing: .18em;

        text-align: center;
        text-shadow: 0 0 2px black;
    }

    @include mobile {
        h1 {
            font-size: 4em;
        }
        p {
            font-size: 1em;
            position: relative;
            top: -1em;
        }
    }
}

nav.page-nav {
    font-size: 1.3em;
    font-family: 'Fira Sans', sans-serif;
    font-variant: all-small-caps;
    letter-spacing: .18em;
    color: white;

    text-align: center;

    ul {
        li {
            display: inline-block;
            margin: 0 .5em;

            border-bottom: solid 1px transparent;

            @include mobile {
                display: block;
            }

            a {
                display: inline-block;
                width: 12em;
                padding: .2em 1.5em;

                @include mobile {
                    width: 100%;
                }

                text-align: center;

                color: darken(white, 10%);

                &:hover {
                    color: white;
                }
            }

            &:hover, &.is-active {
                border-bottom-color: #ddd;

                @include mobile {
                    border-bottom-color: transparent;
                }
            }
        }
    }
}

aside.earth-footer {
    position: relative;
    top: 0; //-$footer-earth-size / 2;
    text-align: center;

    @include mobile {
        position: initial;
        top: 0;
    }

    img {
        width: $footer-earth-size;
        height: $footer-earth-size;

        transition: transform .4s ease-in-out;

        &:hover {
            transform: rotate(360deg);
        }
    }
}

footer.page-footer {

    nav.navbar {
        background-color: transparent;
    }

    a.navbar-item, a.navbar-link {
        padding: 0 1.4em;
        border-bottom: 1px solid transparent;

        font-size: 1.2em;
        font-variant: all-small-caps;
        letter-spacing: 4px;

        color: white;

        &.is-active, &:hover {
            border-bottom-color: white;
        }
    }

    .navbar-item.has-dropdown {
        a.navbar-link::after {
            display: none;
        }
        a.navbar-item {
            font-variant: normal;
            letter-spacing: 0;
            font-size: 1.2em;
            margin-left: 1.1em;
            padding: .4em 1em .4em .6em;
            border-bottom: none;

            .icon {
                margin-right: .4em;
                position: relative;
                top: 2px;
            }

            &:hover {
                color: white;
            }
        }
        .navbar-dropdown {
            background-color: transparent;
            box-shadow: none;
            border-bottom: none;
        }
    }

    &:before {
        $footer-earth-size-small-radius: $footer-earth-size-small/2;

        content: "";
        position: absolute;

        left: calc(50% - 30px); // TODO use variable above

        @include mobile {
            top: 50%;
        }

        width: $footer-earth-size-small;
        height: $footer-earth-size-small;

        background: url('../images/earth.svg') center center no-repeat;

        transition: transform .4s ease-in-out;
    }

    &:hover {
        &:before {
            transform: rotate(360deg);
        }
    }
}

.tooltip::before, .tooltip::after {
    font-family: $family-primary;
}
