body {
    background:
        url('../images/stars.svg') top center repeat,
        linear-gradient(to bottom, #0a020a 0%, #1b1424 35%, #1b1424 100%),
        #1b1424;

     background-size: contain;

     .body-background-container {
        min-height: 100vh;
        background: url('../images/background-bottom.png') bottom center no-repeat;
     }

     &::after {
        content: "";

        display: block;
        position: absolute;
        top: 2em;
        right: 4em;

        width: 0;
        height: 30em;

        background: url('../images/stars-shooting-star.svg') no-repeat;
        background-size: contain;

        transition: none;
     }

     &.static-shooting-star::after {
        width: 10em;
        opacity: 1;
     }

     &.animated-shooting-star::after {
        width: 28em;
        opacity: 0;

        transition: width .8s, opacity .8s;
     }
}
