body {
    scroll-behavior: smooth;
    
    background:
        url('../images/stars.svg') top center repeat,
        linear-gradient(to bottom, #0a020a 0%, #1b1424 35%, #1b1424 100%),
        #1b1424;

    background-size: contain;

    .body-background-container {
        min-height: 100vh;
        margin: 0;
        padding: 0;

        background:
            url('../images/background-bottom.png') bottom center no-repeat,
            url("../images/background-bottom-low.png") bottom / contain no-repeat;
    }

    &::after {
        content: "";

        display: block;
        position: absolute;
        top: 2em;
        right: 4em;

        width: 0;
        height: 30em;

        background: url('../images/stars-shooting-star.svg') no-repeat;
        background-size: contain;

        transition: none;

        z-index: 0;
    }

    &.static-shooting-star::after {
        width: 10em;
        opacity: 1;
    }

    &.animated-shooting-star::after {
        width: 28em;
        opacity: 0;

        transition: width .8s, opacity .8s;
    }
}

header {
    color: white;

    h1 {
        width: 100%;

        font-size: 6em;
        font-family: 'Charlevoix-Light';

        text-align: center;
        text-shadow: 0px 0px 2px black;

        span {
            font-family: 'Charlevoix-Regular';
            font-weight: bold;
        }
    }

    p {
        width: 100%;

        font-size: 1.95em;
        font-family: 'Moon-Regular';
        font-variant: all-small-caps;
        letter-spacing: .18em;

        text-align: center;
        text-shadow: 0px 0px 2px black;
    }

    @include mobile {
        h1 {
            font-size: 4em;
        }
        p {
            font-size: 1em;
            position: relative;
            top: -1em;
        }
    }
}

nav {
    font-size: 1.3em;
    font-family: 'Moon-Regular';
    font-variant: all-small-caps;
    letter-spacing: .18em;
    color: white;

    text-align: center;

    ul {
        li {
            display: inline-block;
            margin: 0 .5em;

            border-bottom: solid 1px transparent;

            @include mobile {
                display: block;
            }

            a {
                display: inline-block;
                width: 12em;
                padding: .2em 1.5em;

                @include mobile {
                    width: 100%;
                }

                text-align: center;

                color: darken(white, 10%);

                &:hover {
                    color: white;
                }
            }

            &:hover, &.is-active {
                border-bottom-color: #ddd;

                @include mobile {
                    border-bottom-color: transparent;
                }
            }
        }
    }
}

.body-background-container > * {
    padding-left: 20%;
    padding-right: 20%;

    @media screen and (max-width: 1700px) {
        padding-left: 5%;
        padding-right: 5%;
    }

    @include mobile {
        padding-left: 5px;
        padding-right: 5px;

        max-width: 100vw;
    }
}

aside.earth-footer {
    position: relative;
    top: -$footer-earth-size / 2;
    text-align: center;

    @include mobile {
        position: initial;
        top: 0;
    }

    img {
        width: $footer-earth-size;
        height: $footer-earth-size;

        transition: transform .4s ease-in-out;

        &:hover {
            transform: rotate(360deg);
        }
    }
}

footer {    
    position: relative;

    margin: 0;
    padding-top: 1.2em;

    @include mobile {
        padding-top: 1.6em;
        margin-bottom: 4em;
    }

    text-align: center;

    .columns {
        // !important because there is a super-specific Bulma rule
        // adding a bottom margin to non-last-child .columns blocs,
        // and this rule breaks the layout in full page mode
        // (i.e. body.homepage.has-js).
        margin-bottom: 0 !important;

        .column {
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;

                @include mobile {
                    ul {
                        position: relative;
                        top: $footer-earth-size-small;
                    }
                }
            }
        }
    }

    ul {
        li {
            display: inline-block;
            padding: 0;
            margin: 0;

            @include mobile {
                display: list-item;
                text-align: center;
            }

            a {
                display: inline-block;
                padding: 0 2em;
                min-width: 6em;

                color: white;

                @include mobile {
                    padding-top: .4em;
                    padding-bottom: .4em;
                }

                &:hover {
                    text-shadow: 0px 0px 2px #ddd;
                }
            }
        }
    }

    &:before {
        $footer-earth-size-small-radius: $footer-earth-size-small/2;

        content: "";
        position: absolute;

        top: -50%;
        left: calc(50% - 30px); // TODO use variable above

        @include mobile {
            top: 50%;
        }

        width: $footer-earth-size-small;
        height: $footer-earth-size-small;

        background: url('../images/earth.svg') center center no-repeat;

        transition: transform .4s ease-in-out;
    }

    &:hover {
        &:before {
            transform: rotate(360deg);
        }
    }
}
