main {
    &.page-main-article {
        .header-size-constrainer {
            max-height: 380px;
            overflow: hidden;

            &.imageless-header {

                max-height: unset;
                height: auto;

                header {
                    height: auto;
                    background: rgba($page-background-dark, .4);

                    @include blur-background;
                }
            }
        }

        header {
            height: 380px;

            // The following property is re-written in the HTML source (through a style attribute) as-is, because another
            // background-image is added there.
            background: linear-gradient(0deg, lighten($page-background-purple, 48%), transparent 40%, transparent) no-repeat center center;
            background-size: cover;
            background-blend-mode: multiply;

            @include mobile {
                padding: 1rem;
            }
            @include tablet {
                padding: 1rem $article-padding;
            }

            .container {
                display: flex;
                flex-direction: column;

                height: 100%;

                aside.header-image-source {
                    display: block;
                    flex-grow: 1;

                    width: 100%;

                    margin-top: 1em;
                    text-align: right;

                    color: transparent;
                    transition: color .2s ease-in-out;

                    &:hover {
                        color: white;
                        a { color: white; }
                    }

                    a {
                        color: transparent;
                        transition: color .2s ease-in-out;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    cite {
                        display: block;
                        font-style: normal;
                        font-size: .9em;
                    }
                }

                h1 {
                    margin-bottom: .1em;
                    font-size: 3em;
                    font-weight: 300;
                    color: white;

                    @include mobile {
                        font-size: 2.6em;
                    }
                }

                .reading-time-under-title {
                    padding-left: .1rem;

                    @include tablet {
                        display: none;
                    }
                }
            }
        }

        @include desktop {
            // Enlarges the sidebar a little bit
            .columns .column {
                &.is-10 {
                    width: 83%;
                }
                &.is-2 {
                    width: 17%;
                }
            }
        }

        @include tablet-only {
            // Enlarges the sidebar a little bit
            .columns .column {
                &.is-10 {
                    width: 80%;
                }
                &.is-2 {
                    width: 20%;
                }
            }
        }

        @include mobile {
            .columns .column.is-10 {
                padding-top: 0;
            }
        }
    }

    article.main-article {
        padding: 1em 0;

        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        @include tablet {
            border-bottom-left-radius: 0;
        }

        background: rgba($page-background-dark, .4);

        @include blur-background;

        .content {
            text-align: justify;

            font-size: 1.8em;
            font-family: 'EB Garamond', 'Georgia', 'Times New Roman', Times, serif;
            line-height: 1.6;

            color: $content-text-color;

            @include mobile {
                font-size: 1.6em;
            }

            p, h1, h2, h3, h4, h5, h6, ol, ul {
                padding-left: $article-padding;
                padding-right: $article-padding;
            }

            h1, h2, h3, h4, h5, h6 {
                color: darken($content-text-color, 4%);
                text-align: left;

                a {
                    display: inline-block;
                    margin-left: .6em;

                    color: transparent;

                    span.icon.icon-link:before {
                        @include fa-icon;
                        @extend .fas;

                        content: fa-content($fa-var-link);
                        font-size: .6em;
                    }
                }

                &:hover a {
                    color: darken($content-text-color, 8%);
                }
            }

            strong, em, figure, dl, dt, dd, ol, ul, li, abbr {
                color: $content-text-color;
            }

            a {
                color: $link;

                strong, em, figure, dl, dt, dd, ol, ul, li, abbr {
                    color: $link;
                }

                &:hover {
                    color: lighten($link, 12%);

                    strong, em, figure, dl, dt, dd, ol, ul, li, abbr {
                        color: lighten($link, 12%);
                    }
                }
            }

            abbr[title] {
                cursor: help;
            }

            kbd {
                padding: .2em .4em;
                background-color: $page-background-dark;
                border: solid 1px lighten($page-background-dark, 12%);
                border-radius: 5px;
                font-size: .8em;
            }

            mark {
                padding: .1em;
            }

            hr {
                height: 1px;
                margin: 2em 0;

                background-color: lighten($page-background-purple, 80%);
            }

            ul li {
                list-style-type: none;
                position: relative;

                &:before {
                    position: absolute;
                    left: -1.2em;
                    top: -.1em;

                    content: "–";

                    color: darken($content-text-color, 4%);
                }

                ol, ul {
                    margin-top: .2em;
                }

                p {
                    padding: 0;
                    margin: 0;
                }
            }

            > ol, > ol ol {
                counter-reset: ol-item;

                li {
                    display: block;

                    position: relative;
                    left: -1em;

                    &:before {
                        counter-increment: ol-item;

                        display: inline-block;
                        padding-right: .4em;
                        
                        content: counter(ol-item) ". ";

                        color: darken($content-text-color, 4%);
                    }

                    ol, ul {
                        margin-top: .2em;
                    }

                    p {
                        padding: 0;
                        margin: 0;

                        &:first-child {
                            display: inline-block;
                        }
                        &:not(:first-child) {
                            padding-left: 1.25em;
                        }
                        &:not(:last-child) {
                            margin-bottom: .2em;
                        }
                    }
                }
            }

            .video-wrapper {
                position: relative;
                padding-bottom: 54.46%; /* 16:9 */
                padding-top: 25px;
                height: 0;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            figure {
                margin-left: 0;
                margin-right: 0;

                text-align: center;

                figcaption {
                    margin-top: 0;
                    padding: .5em $article-padding;

                    background-color: $page-background-dark;

                    font-size: .88em;
                }

                // Fixes a gap between images and caption
                > img {
                    position: relative;
                    top: 0.46em;
                }

                .hljs-code-div {
                    margin: 0;

                    pre {
                        margin: 0;

                        .hljs {
                            padding-bottom: .5em;
                        }
                    }

                    & + figcaption {
                        padding-top: 0;
                        padding-bottom: 1em;
                    }
                }

                blockquote {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

                span.inlineMath.inlineMathDouble + figcaption {
                    background-color: transparent;
                }

                .table-wrapper {
                    table {
                        margin-bottom: 0;

                        tbody:last-child tr:last-child td {
                            border-bottom-width: 2px;
                        }
                    }

                    & + figcaption {
                        background-color: darken($page-background-purple, 6%);
                    }
                }
            }

            blockquote {
                position: relative;

                padding: 1em calc(#{$article-padding} + 1em) 1em calc(#{$article-padding} + 2em);

                background: transparent;
                border: none;

                font-size: 1em;

                text-align: left;

                p:only-child {
                    font-size: 1.2em;
                }

                &:before {
                    position: absolute;
                    top: -1.23em;
                    left: 0.26em;
                    content: "“";
                    padding-top: 1em;
                    font-size: 4.6em;
                }

                & + figcaption {
                    position: relative;
                    padding-left: calc(#{$article-padding} + 4.4em);

                    background-color: transparent;

                    text-align: left;
                    font-size: .9em;

                    &:before {
                        content: "—";
                        position: absolute;
                        left: calc(#{$article-padding} + 3.3em);
                        top: .42em;
                    }
                }
            }

            pre, .hljs-code-div {
                margin: 1em 0;
                padding: 0;

                background-color: $page-background-dark;

                text-align: left;

                code {
                    padding: 1em $article-padding;
                    background-color: $page-background-dark;

                    font-size: .88em;
                    text-align: left;
                }

                .hljs-line-numbers {
                    float: left;
                    position: relative;

                    top: 0.95em;

                    padding-left: 1em;

                    counter-reset: code-line-numbers;

                    span:before {
                        counter-increment: code-line-numbers;
                        content: counter(code-line-numbers);

                        display: block;
                        height: 2.048em;

                        font-size: .6em;
                        font-family: $family-monospace;
                        text-align: right;
                        color: desaturate(darken($content-text-color, 40%), 26%);
                    }
                }
            }

            code {
                background-color: $page-background-dark;
                color: $content-text-color;
                font-size: .8em;
            }

            table {
                background-color: $page-background-purple;
                margin-bottom: 1.25em;

                thead, tfoot {
                    background-color: darken($page-background-purple, 6%);

                    th {
                        border-bottom: solid 2px lighten($page-background-purple, 12%);
                        color: darken($content-text-color, 4%);
                        font-variant: all-small-caps;
                        letter-spacing: .06em;
                    }
                }

                tfoot th {
                    border-bottom: none;
                    border-top: solid 2px lighten($page-background-purple, 12%);
                }

                tbody {
                    td {
                        padding: 15px;
                        font-size: .96em;
                        border-bottom: solid 1px lighten($page-background-purple, 12%);
                    }
                }
            }

            .katex-html {
                display: none;
            }

            .inlineMath.inlineMathDouble {
                display: block;
                text-align: center;
            }

            .notices {
                background-color: $page-background-purple;
                padding: .6em 0;

                p {
                    padding-left: $article-padding - 10px;
                }

                &.red {
                    color: #dd625e;
                }
                &.green {
                    color: #44b144;
                }
            }

            .footnote-ref {
                // Ensures the footnotes numbers are always in a normal font weight & variant, even
                // when the note is in a bold or italic block.
                font-weight: normal !important;
                font-variant: normal !important;
                font-style: normal !important;
            }

            .footnotes {
                font-size: .8em;

                hr {
                    width: 60%;
                    margin-bottom: 0;
                }

                ol {
                    margin-top: .6em;

                    li {
                        position: relative;

                        &:hover {
                            .footnote-backref {
                                color: $link;
                            }
                        }

                        p {
                            padding-right: 2em;
                        }

                        .footnote-backref {
                            position: absolute;
                            top: 0;
                            right: 0;

                            display: inline-block;
                            padding: 3px .4em 6px .8em;

                            color: darken($link, 32%);
                        }
                    }
                }
            }
        }
    }

    .columns.navigation-links {
        margin: 0 0 .6em 0;

        border-bottom: solid 1px lighten($page-background-purple, 20%);

        font-size: 2.4em;
        font-family: 'EB Garamond', 'Georgia', 'Times New Roman', Times, serif;

        .column {
            padding-top: .1em;
            text-align: center;

            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }

            a {
                display: block;
                width: 100%;

                &.is-disabled {
                    color: lighten($page-background-purple, 20%);
                    cursor: default;
                }
            }
        }

        &.mobile-navigation-links {
            margin: 0 $article-padding;
            border-bottom: none;

            @include tablet {
                display: none;
            }
        }
    }

    aside.main-aside {
        margin-top: 1em;

        border-radius: 8px;

        background: rgba($page-background-dark, .4);

        color: lighten($page-background-purple, 65%);

        @include blur-background;

        @include mobile {
            border-radius: 0;
        }

        a {
            color: lighten($page-background-purple, 65%);

            &:hover {
                color: lighten($page-background-purple, 84%);
            }
        }

        p.reading-time {
            border-bottom: solid 1px lighten($page-background-purple, 20%);
            margin: 0 0 1em;
            padding: 0 1em 1.2em 1em;
        }

        p, dl {
            margin: .6em 1em 0 1em;

            &:first-of-type {
                margin-top: 0;
            }
        }

        p.has-icon {
            padding-left: 1.9em;

            text-indent: -.05em;

            &:before {
                position: relative;
                left: -1.8em;
                top: -1px;

                width: 0;
                height: 0;

                color: lighten($page-background-purple, 16%);

                @include fa-icon;
            }

            &.publication-date:before {
                @extend .far;
                content: fa-content($fa-var-calendar);
            }
            &.authors:before {
                @extend .far;
                content: fa-content($fa-var-user);
            }
            &.comments:before {
                @extend .far;
                content: fa-content($fa-var-comments);
            }
            &.comments-single:before {
                @extend .far;
                content: fa-content($fa-var-comment);
            }
            &.category:before {
                @extend .fas;
                content: fa-content($fa-var-book);
            }
            &.tags-list:before {
                @extend .fas;
                content: fa-content($fa-var-tags);
            }
            &.tags-list-single:before {
                @extend .fas;
                content: fa-content($fa-var-tag);
            }
        }

        p.tags {
            margin-top: 2em;
        }

        .creative-commons-icons {
            font-family: CCIcons, serif;
            font-weight: normal;
            font-style: normal;
            letter-spacing: .2em;
        }

        p.license {
            text-align: center;
            margin-top: 1em;

            .creative-commons-icons {
                color: lighten($page-background-purple, 64%);
                font-size: 2em;
            }
        }
    }

    aside.menu {
        margin-top: 1em;

        ul.menu-list {
            li {
                margin-bottom: .4em;

                a {
                    transition: none;
                }
            }

            > li > a {
                @include tablet-only {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                @include mobile {
                    border-radius: 0;
                }
            }
        }
    }

    footer.comments-section {
        margin-top: 2em;
        padding: 1em 0 0 0;

        border-radius: 8px;

        background: rgba($page-background-dark, .4);

        color: $content-text-color;

        @include mobile {
            border-radius: 0;
        }

        @include tablet {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        @include blur-background;

        h2 {
            padding: 0 $article-padding .4em $article-padding;
            border-bottom: solid 1px $timeline-color;
            font-size: 1.6em;
            font-weight: 300;
        }

        .comments-section-content {
            padding: 0 $article-padding 0 $article-padding / 2;

            .timeline-item {
                padding-bottom: 1em;

                .timeline-marker.is-icon {
                    height: 32px;
                    width: 32px;
                    left: -16px;
                    cursor: default;
                }

                .timeline-content {
                    position: relative;
                    top: 7px;

                    width: 100%;

                    h3.heading {
                        font-size: .9em;
                        font-weight: 400;
                        cursor: default;

                        &.comments-disabled {
                            padding-bottom: .6em;
                        }
                    }

                    div.content {
                        margin-bottom: .4em;

                        p {
                            margin-bottom: .4em;
                        }
                    }

                    cite.comment-date {
                        display: block;
                        font-weight: 300;
                        font-style: normal;
                        cursor: default;
                    }
                }

                &.new-comment {
                    .label {
                        display: none;
                    }

                    @include tablet {
                        .field-name, .field-email {
                            width: 49%;
                        }
                        .field-name {
                            float: left;
                        }
                        .field-email {
                            float: right;
                        }

                        // Fixes text field overlapping previous ones with the float trick
                        .field-text {
                            position: relative;
                            top: 2.8em;

                            textarea {
                                position: relative;
                                top: -2.8em;
                            }
                        }

                        .field > .help {
                            padding-top: 0.5em;
                        }
                    }

                    @include mobile {
                        .field > .help {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}
