aside.explicit-canonical-link {
    margin: 10rem auto;
    max-width: 60%;

    @include mobile {
        max-width: 96%;
    }

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;

        @include mobile {
            flex-direction: column;
        }

        width: 100%;

        margin: 0;
        padding: 1rem;

        //border: 1px solid lighten($primary, 8%);
        border-radius: 4px;

        background-color: var(--yellow-900);

        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: var(--yellow-1000);
            text-decoration: none;
        }

        figure {
            flex: 2;
            text-align: center;

            @include mobile {
                padding: 1rem 0;
            }

            img {
                height: 2.5rem;

                @include mobile {
                    height: 1.8rem;
                }
            }
        }

        p {
            flex: 6;

            font-family: $family-sans-serif;
            font-weight: 300;
            font-size: $size-5;

            color: white;

            @include mobile {
                text-align: center;
                font-size: $size-5;
            }
        }
    }
}
