.content {
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

    font-size: 1.3rem;
    font-family: 'Lora', 'EB Garamond', 'Georgia', 'Times New Roman', Times, serif;
    line-height: 1.6;

    color: $content-text-color;

    max-width: 88ch;
    margin: auto;

    @include mobile {
        font-size: 1.2rem;
        line-height: 1.5;
    }

    p, h1, h2, h3, h4, h5, h6, ol, ul {
        padding-left: $article-padding;
        padding-right: $article-padding;

        @include mobile {
            padding-left: $article-padding-mobile;
            padding-right: $article-padding-mobile;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        position: relative;

        color: var(--yellow-1100);
        text-align: left;

        a {
            display: inline-block;
            margin-left: .6em;

            @include mobile {
                margin-left: 0;
            }

            color: transparent;

            span.icon.icon-link {
                @include mobile {
                    position: absolute;
                    right: 1.2rem;
                    top: 1.2rem;
                }

                &:before {
                    @include fa-icon;
                    @extend .fas;

                    content: fa-content($fa-var-link);

                    font-weight: 900;
                    font-size: .6em;
                }
            }
        }

        &:hover a {
            color: var(--yellow-700);
        }

        // Clears the TOC floating block.
        &:first-of-type {
            clear: both;
        }
    }

    h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 2.8rem;
    }
    h3 {
        font-size: 2.2rem;
    }
    h4 {
        font-size: 1.8rem;
        color: var(--yellow-900);
    }
    h5 {
        font-size: 1.5rem;
        color: var(--yellow-900);
    }
    h6 {
        font-size: 1.2rem;
        color: var(--yellow-900);
    }

    strong, em, figure, dl, dt, dd, ol, ul, li, abbr {
        color: $content-text-color;
    }

    a {
        color: $link;

        strong, em, figure, dl, dt, dd, ol, ul, li, abbr {
            color: $link;
        }

        &:hover {
            color: lighten($link, 12%);

            strong, em, figure, dl, dt, dd, ol, ul, li, abbr {
                color: lighten($link, 12%);
            }
        }
    }

    abbr[title] {
        cursor: help;
    }

    kbd {
        padding: .2em .4em;
        background-color: $page-background;
        border: solid 1px lighten($page-background, 12%);
        border-radius: 5px;
        font-size: .8em;
    }

    mark {
        padding: .1em;
    }

    hr {
        position: relative;

        // Required for the before and after dots to be visible, as this element is overflow:hidden by default.
        overflow: visible;

        height: 8px;
        width: 8px;
        margin: 4rem auto;

        &, &:before, &:after {
            background-color: var(--yellow-900);
            border-radius: 4269px;
        }

        &:before, &:after {
            content: ' ';

            position: absolute;
            top: 2px;

            display: block;

            height: 6px;
            width: 6px;
        }

        &:before {
            left: 4rem;
        }

        &:after {
            right: 4rem;
        }
    }

    ul li {
        list-style-type: none;
        position: relative;

        &:before {
            position: absolute;
            left: -1.2em;

            content: "–";

            color: darken($content-text-color, 4%);
        }

        ol, ul {
            margin-top: .2em;
            margin-left: 0;
        }

        p {
            padding: 0;
            margin: 0;
        }
    }

    > ol, > ol ol {
        counter-reset: ol-item;

        li {
            display: block;
            position: relative;

            &:before {
                counter-increment: ol-item;

                position: absolute;
                left: -1.4em;

                content: counter(ol-item) ". ";

                color: var(--gray-800)
            }

            ol, ul {
                margin-top: .2em;
                margin-left: 0;
            }

            p {
                padding: 0;
                margin: 0;

                &:first-child {
                    display: inline-block;
                }
                &:not(:first-child) {
                    padding-left: 1.25em;
                }
                &:not(:last-child) {
                    margin-bottom: .2em;
                }
            }
        }
    }

    > ol ol {
        margin-left: .4em;
    }

    // touche
    kbd {
        padding: .2rem .6rem;

        border: solid .1rem var(--yellow-200);
        border-bottom-width: .4rem;
        border-radius: 4px;

        background-color: var(--yellow-100);

        color: var(--yellow-900);
        text-shadow: 0 .1rem 0 $white;
    }

    // Code inline
    p,
    li,
    td {
        code:not(.hljs) {
            --code-inline-color: var(--gray-900);
            --code-inline-background: var(--gray-100);

            color: var(--code-inline-color);
            background: var(--code-inline-background);
            border-radius: 4px;
            padding: 0 .6rem;
        }
    }

    .video-wrapper {
        position: relative;
        padding-bottom: 54.46%; /* 16:9 */
        padding-top: 25px;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    figure {
        margin-left: 0;
        margin-right: 0;

        text-align: center;

        figcaption {
            margin-top: 0;
            padding: .5em $article-padding;

            font-size: .88em;

            @include mobile {
                padding: .5em $article-padding-mobile;
            }
        }

        // Fixes a gap between images and caption
        > img {
            position: relative;
            top: 0.46em;
        }

        .hljs-code-div {
            margin: 0;

            pre {
                margin: 0;

                .hljs {
                    padding-bottom: .5em;
                }
            }

            & + figcaption {
                padding-top: 0;
                padding-bottom: 1em;
            }
        }

        blockquote {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        span.inlineMath.inlineMathDouble + figcaption {
            background-color: transparent;
        }
    }

    blockquote {
        position: relative;

        padding: 1em $article-padding + 1rem 1em $article-padding + 2rem;

        background: transparent;
        border: none;

        font-size: 1em;

        text-align: left;

        @include mobile {
            padding: 1em $article-padding-mobile * 0.5 1em $article-padding-mobile + 2.8rem;
        }

        p {
            padding-left: 0;
            padding-right: 0;

            &:only-child {
                font-size: 1.2em;
            }
        }

        &:before {
            position: absolute;
            top: -1.23em;
            left: .2em;
            content: "“";
            padding-top: 1em;
            font-size: 4.6em;
        }

        & + figcaption {
            position: relative;
            padding-left: calc(#{$article-padding} + 3.4em);

            background-color: transparent;

            text-align: left;
            font-size: .9em;

            @include mobile {
                padding-left: calc(#{$article-padding-mobile} + 3.4em);
            }

            &:before {
                content: "—";
                position: absolute;
                left: calc(#{$article-padding} + 2.3em);
                top: .42em;

                @include mobile {
                    left: calc(#{$article-padding-mobile} + 2.3em);
                }
            }
        }
    }

    @import "content/source-code";

    /*
    pre, .hljs-code-div {
        margin: 1em 0;
        padding: 0;

        background-color: $page-background;

        text-align: left;

        code {
            padding: 1em $article-padding;
            background-color: $page-background;

            font-size: .88em;
            text-align: left;

            @include mobile {
                padding: 1em $article-padding-mobile;
            }
        }

        .hljs-line-numbers {
            float: left;
            position: relative;

            top: 0.95em;

            padding-left: 1em;

            counter-reset: code-line-numbers;

            span:before {
                counter-increment: code-line-numbers;
                content: counter(code-line-numbers);

                display: block;
                height: 2.048em;

                font-size: .6em;
                font-family: $family-monospace;
                text-align: right;
                color: desaturate(darken($content-text-color, 40%), 26%);
            }
        }
    }
    */

    table {
        margin: .4rem auto;
        width: fit-content;

        tr {
            &:last-child {
                td {
                    &:first-child {
                        border-bottom-left-radius: 8px;
                    }

                    &:last-child {
                        border-bottom-right-radius: 8px;
                    }
                }
            }

            &:first-child {
                th {
                    &:first-child {
                        border-top-left-radius: 8px;
                    }

                    &:last-child {
                        border-top-right-radius: 8px;
                    }
                }
            }
        }

        th {
            background-color: var(--yellow-100);
        }

        td,
        th {
            text-align: left;
            padding: 8px;
            border-color: var(--yellow-400);
        }

        thead {
            border-collapse: collapse;
        }

        tfoot {
            border-top: 1px solid black;
        }

        tr:hover td {
            background-color: var(--yellow-100);
        }
    }

    > .table-wrapper, > .video-container  {
        &:not(:first-child) {
            margin-top: 2rem;
        }
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }


    .katex {
        // KaTeX's default size of 1.21em is huge with our font size.
        font-size: 1em;

        .katex-mathml {
            display: none;
        }
    }

    div.math {
        padding-left: $article-padding;
        padding-right: $article-padding;
        text-align: center;
        margin-bottom: 1em;
    }

    .inlineMath.inlineMathDouble {
        display: block;
        text-align: center;
    }

    .notices {
        background-color: $page-background-purple;
        padding: .6em 0;

        p {
            padding-left: calc(#{$article-padding} - 10px);

            @include mobile {
                padding-left: calc(#{$article-padding-mobile} - 10px);
            }
        }

        &.red {
            color: #dd625e;
        }
        &.green {
            color: #44b144;
        }
    }

    .footnote-ref {
        // Ensures the footnotes numbers are always in a normal font weight & variant, even
        // when the note is in a bold or italic block.
        font-weight: normal !important;
        font-variant: normal !important;
        font-style: normal !important;
    }

    .footnotes {
        margin-top: 4rem;
        font-size: .8em;

        hr {
            width: 60%;
            height: 1px;

            margin: initial;
            margin-bottom: 0;

            border-radius: 0;

            &:before, &:after {
                display: none;
            }
        }

        ol {
            margin-top: .6em;

            li {
                position: relative;

                &:hover {
                    .footnote-backref {
                        color: $link;
                    }
                }

                p {
                    padding-right: 2rem;
                }

                .footnote-backref {
                    position: absolute;
                    top: 0;
                    right: -2rem;

                    // Fixes horizontal overflow on small screens
                    @include mobile {
                        right: -1rem;
                    }

                    display: inline-block;
                    padding: 3px .4em 6px .8em;

                    color: var(--yellow-900);
                }
            }
        }
    }
}
