nav.article-navigation {
    margin: 0 32% $article-padding * 0.5;

    @include mobile {
        margin: 0 $article-padding $article-padding * 0.5;
    }

    .columns {
        font-size: 2.4em;
        font-family: 'EB Garamond', 'Georgia', 'Times New Roman', Times, serif;

        .column {
            padding-top: .1em;
            text-align: center;

            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }

            a {
                display: block;
                width: 100%;
                color: var(--yellow-900);

                &.is-disabled {
                    color: var(--yellow-600);
                    cursor: default;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
