aside.table-of-contents {
    float: right;
    width: 32%;

    margin: 0 2rem 1rem;

    font-family: $family-sans-serif;

    @include mobile {
        float: none;
        margin: 3rem auto;

        width: 96%;

        background-color: var(--yellow-1000);
        color: var(--yellow-100);

        border-radius: 8px;
        box-shadow:
                rgba(white, 10%) 6px 6px 12px,
                rgba(white, 10%) -2px -2px 12px;

        &.is-visible {
            h4 .table-of-content-toggle-indicator {
                transform: rotate(-90deg);
            }

            > ul {
                display: block;
            }
        }
    }

    h4 {
        position: relative;

        margin-bottom: .4rem;
        padding-bottom: 0;

        font-size: 1.6em;
        font-weight: 300;

        @include touch {
            font-size: 1.3rem;
        }

        text-align: center;

        @include mobile {
            margin-bottom: 0;
            font-size: 1.5em;
            cursor: pointer;
        }

        .table-of-content-toggle-indicator {
            display: none;

            @include mobile {
                display: block;

                position: absolute;
                top: .2rem;
                right: 1rem;

                height: 1em;

                font-family: $family-serif;
                font-size: 1.3em;

                text-align: center;
                line-height: .7em;

                transform: rotate(90deg);
                transform-origin: center;

                transition: transform .4s ease-in-out;
            }
        }
    }

    > ul {
        counter-reset: toc-primary-level;

        margin-top: 0;
        padding-top: .4rem;
        border-top: solid 1px var(--yellow-600);

        @include mobile {
            display: none;
        }

        > li {
            margin: 0;
            padding: 0;

            > a {
                position: relative;
                display: block;

                padding: .4rem 0 .4rem 1.4rem;

                @include mobile {
                    margin: 0 .4rem;
                }

                font-size: 1.2rem;
                font-weight: 300;

                @include touch {
                    font-size: 1rem;
                }

                color: var(--yellow-900);
                text-decoration: none;

                @include mobile {
                    font-size: 1.3em;
                    color: var(--yellow-000);
                }

                &:before {
                    counter-increment: toc-primary-level;
                    content: counter(toc-primary-level) ". ";

                    position: absolute;
                    left: 0;
                }
            }

            &:not(:first-child) {
                margin-top: .4rem;
            }

            ul {
                margin-left: 1.8rem;

                a {
                    color: var(--yellow-800);
                    font-size: 1rem;
                    text-decoration: none;

                    @include touch {
                        font-size: .9rem;
                    }

                    @include mobile {
                        color: var(--yellow-100);
                    }
                }
            }
        }
    }
}
