html
  background-color: $page-background-purple
  min-height: 100%


body
  scroll-behavior: smooth
  min-height: 100%

  background: linear-gradient(180deg, var(--yellow-000) 0%, var(--yellow-000) 50%, var(--gray-000) 100%)

  &.has-hero-with-aura
    background-image: url('../images/home-bg-blur-area.png')
    background-repeat: no-repeat
    background-position: left 60% top -6.5rem
