p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul
  padding-left: $article-padding
  padding-right: $article-padding

  @include mobile
    padding-left: $article-padding-mobile
    padding-right: $article-padding-mobile
