
@font-face {
  font-family: 'Moon2-0-Bold';
  src: url('Moon2-0-Bold.eot?#iefix') format('embedded-opentype'),  url('Moon2-0-Bold.otf')  format('opentype'),
	     url('Moon2-0-Bold.woff') format('woff'), url('Moon2-0-Bold.ttf')  format('truetype'), url('Moon2-0-Bold.svg#Moon2.0-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
