/* Creative Commons logos */
@font-face {
  font-family: 'CCIcons';
  src: url('../fonts/creative-commons/CCIcons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/creative-commons/CCIcons.woff') format('woff'),
  url('../fonts/creative-commons/CCIcons.ttf')  format('truetype'),
  url('../fonts/creative-commons/CCIcons.svg#CCIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
