{% extends 'partials/base.html.twig' %}

{% block body_classes %}homepage{% endblock %}

{% block content %}
    <section>{{ page.content }}</section>
{% endblock %}

{% block bottom %}
    {{ super() }}

    <script type="text/javascript">
        'use strict';

        document.body.classList.remove('static-shooting-star');

        window.addEventListener('load', function()
        {
            document.body.classList.remove('static-shooting-star');

            function animate_shooting_star()
            {
                document.body.classList.add('animated-shooting-star');

                setTimeout(function()
                {
                    document.body.classList.remove('animated-shooting-star');
                }, 1500);

                setTimeout(animate_shooting_star, (Math.floor(Math.random() * (60 - 20)) + 20) * 1000);
            }

            setTimeout(animate_shooting_star, (Math.floor(Math.random() * (10 - 2)) + 2) * 1000);
        });


        function reset_focus()
        {
            var scrollTop = document.body.scrollTop;
            var body = document.body;
            var tmp = document.createElement('input');

            tmp.style.opacity = 0;
            body.appendChild(tmp);
            tmp.focus();
            body.removeChild(tmp);

            body.scrollTop = scrollTop;
        }

        function hide_hidden_sections()
        {
            if (window.screen.width < 769) return;

            var initially_hidden_sections = document.querySelectorAll('body > div > section:not(:first-of-type)');
            for (var i = initially_hidden_sections.length - 1; i >= 0; i--)
            {
                initially_hidden_sections[i].style.display = 'none';
            }
        }

        // If the DOM is loaded—removed here so the screen does not blinks.
        hide_hidden_sections();

        window.addEventListener('load', function()
        {
            if (window.screen.width < 769) return;

            document.body.classList.add('has-js');

            hide_hidden_sections();

            var navigation_list_items = document.querySelectorAll('body > div > nav > ul > li');
            var navigation_links = document.querySelectorAll('body > div > nav > ul > li > a');
            var sections = document.querySelectorAll('body > div > section');

            for (var i = navigation_links.length - 1; i >= 0; i--)
            {
                navigation_links[i].addEventListener('click', function(e)
                {
                    e.preventDefault();
                    
                    var target = document.querySelector(e.target.dataset.target);

                    for (var i = sections.length - 1; i >= 0; i--)
                    {
                        sections[i].style.display = 'none';
                    }

                    for (var i = navigation_list_items.length - 1; i >= 0; i--)
                    {
                        navigation_list_items[i].classList.remove('is-active');
                    }

                    target.style.display = 'block';
                    e.target.parentNode.classList.add('is-active');

                    reset_focus();
                });
            }
        });
    </script>
{% endblock %}
