{% extends 'partials/base.html.twig' %}

{% block body_classes %}frontpage{% endblock %}

{% block body %}
    {% for subpage in pages.children.visible %}
        <section id="{{ subpage.url|trim('/') }}"{% if loop.first %} class="hero is-fullheight"{% endif %}>
            {% if loop.first %}
                <header class="hero-head page-header">
                    <h1>{{ theme_config.header.title ?: config.site.title }}</h1>
                    <p>{{ theme_config.header.tagline }}</p>
                </header>
            {% endif %}
            <div class="{% if loop.first %}hero-body{% else %}section-body{% endif %}">
                {% set description_page = loop.first ? page : subpage %}
                {% if subpage.template == 'blog' %}
                    {% include 'partials/homepage/block-blog.html.twig' with {
                        'introduction': description_page.content,
                        'introduction_images': description_page.media.images,
                        'page': subpage,
                        'articles': subpage.children.routable.visible.order('date', 'desc')
                    } %}
                {% else %}
                    {% include 'partials/homepage/block-generic.html.twig' with {
                        'page': subpage
                    } %}
                {% endif %}
            </div>
            {% if loop.first %}
                {% include 'partials/menu-footer.html.twig' %}
            {% endif %}
        </section>
    {% endfor %}

    {% include 'partials/menu-footer.html.twig' %}
{% endblock %}
